/* Base Styles */

.sb-table {
  border: 1px solid #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: left;
  font-size: 14px;
  border-collapse: collapse;
}

.sb-table th, td {
  padding: 10px;
}
.sb-table th {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.sb-table th:last-child {
  border-right: none;
}

/* Dark Theme */

.sb-table {
  color: #939CAA;
  border-color: #191A1F;
}

.sb-table thead {
  background-color: #282C34;
}

.sb-table th {
  border-right-color: #191A1F;
  border-bottom-color: #191A1F;
}

.sb-table tbody {
  background-color: #31363F;
}
